.header-container {
	background: #000;
}

@media screen and (width > 768px) {
	.header-container {
		position: sticky;
		top: 0;
		height: 100px;
		z-index: 100;
		transition: height 0.3s ease;
	}
	
	.header-container.shrink {
		height: 80px; 
	}
}


.header-container .nav-logo {
	transition: width 0.3s ease;
}

.header-container.shrink .nav-logo {
	width: 60px;
}

header .nav-link {
	color: #fff;
	border-bottom: 1px solid transparent;
}

header .nav-link:is(.active, :hover) {
	color: #b1a1ed;
	border-bottom: 1px solid #b1a1ed;
}
