.header-container {
	background: #000;
	position: sticky;
	top: 0;
	z-index: 100;
}

header .nav-link {
	color: #fff;
	border-bottom: 1px solid transparent;
}

header .nav-link:is(.active, :hover) {
	color: #B1A1ED;
	border-bottom: 1px solid #B1A1ED;
}