.internet-section .details {
	font-family: "Rubik", sans-serif;
}

.internet-section .details h1 {
	font-size: 4rem;
	font-weight: 700;
}

.internet-section .details p {
	font-size: 1.5rem;
	color: #4F5665;
}

.internet-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}