@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(#ffffff 0%, #b1a1ed 100%);
	font-family: "Poppins", serif;
	font-weight: 400;
	font-style: normal;
}

/* Steps Section */
.steps-section {
	font-family: "Rubik", sans-serif;
}

.steps-section > p {
	font-style: italic;
	font-weight: 600;
	text-align: center;
	font-size: 2rem;
	color: #4F4F4F;
}

.steps-section .step {
	display: flex;
	gap: 6rem;
}

.steps-section .step .number {
	width: 6rem;
}

.steps-section .step .step-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	width: 50%;
}

.steps-section .step .step-details h2 {
	color: #724CFF;
	font-size: 3.5rem;
}

/* Partners Section */
.partners-section h2 {
	color: #000;
	font-weight: bold;
	font-family: "Rubik", sans-serif;
}

.partners-section p {
	font-family: "Rubik", sans-serif;
}

/* Contact Us Form */
.contact-section {
	padding: 50px 0;
	text-align: center;
}

.contact-section h2 {
	color: #000;
	font-weight: bold;
	font-family: "Rubik", sans-serif;
}

.contact-section p {
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	font-size: 1.3rem;
}

.contact-section .container {
	background-color: #000;
}
.contact-card {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	height: 100%;
	background-color: #B1A1ED;
	padding: 20px;
	overflow: hidden;
}
.contact-info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: #fff;
	font-size: 16px;
}

.contact-info p {
	display: flex;
	gap: 1.3rem;
}

input, .form-control, .form-control:focus {
	color: #fff;
	background: none;
	outline: none;
	border: none;
	border-bottom: 1px solid #fff;
	border-radius: 0;
	padding-inline: 0;
}

label {
	font-size: 0.85rem;
}

.form-control::placeholder {
	color: #909090;
}

form button[type="submit"] {
	width: 10rem;
	margin-left: auto;
}

textarea {
	resize: none;
}

.btn-dark {
	border-radius: 5px;
	background-color: #B1A1ED;
	border: none;
	color: #fff;
	/* font-weight: bold; */
}

.btn-dark:hover {
	background-color: #9789c9;
}

.circle1,
.circle2,
.circle3,
.circle4 {
	border-radius: 50%;
	position: absolute;
}
.circle1 {
	width: 269px;
	height: 269px;
	background-color: #FFFFFF;
	bottom: -80px;
	left: -100px;
}
.circle2 {
	width: 138px;
	height: 138px;
	background-color: #EDA1C2;
	bottom: -40px;
	left: 6rem;
}
.circle3 {
	width: 138px;
	height: 138px;
	background-color: #48484880;
	bottom: 5rem;
	right: 2.5rem;
	z-index: 2;
}
.circle4 {
	width: 269px;
	height: 269px;
	background-color: #C801F9;
	bottom: -6.3rem;
	right: -7rem;
}
